{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react-native"
  ],
  "rules": {
    "semi": ["error", "never"],
    "max-len": "off",
    "class-methods-use-this": "off"
  }
}
